Repository signalwire/docs, pull requests merged in 2025-04, with the labels that each got.

#152 Add Datasphere Chunk Endpoints - 13853
  api/signalwire-rest/datasphere-api/document/main.tsp
  api/signalwire-rest/datasphere-api/document/models/core.tsp
  api/signalwire-rest/datasphere-api/document/models/enums.tsp
  api/signalwire-rest/datasphere-api/document/models/responses.tsp
  api/signalwire-rest/datasphere-api/main.tsp
  api/signalwire-rest/datasphere-api/tsp-output/@typespec/openapi3/openapi.yaml
Labels: area/rest-api, team/developer-experience

#120 Add docs for api/fabric/embeds/token endpoint
  api/signalwire-rest/fabric-api/_spec_.yaml
  api/signalwire-rest/fabric-api/embeds-tokens/main.tsp
  api/signalwire-rest/fabric-api/embeds-tokens/models/errors.tsp
  api/signalwire-rest/fabric-api/embeds-tokens/models/requests.tsp
  api/signalwire-rest/fabric-api/embeds-tokens/models/responses.tsp
  api/signalwire-rest/fabric-api/main.tsp
  api/signalwire-rest/fabric-api/tsp-output/@typespec/openapi3/openapi.yaml
  api/signalwire-rest/types/status-codes/main.tsp
  docs/rest/signalwire-rest/endpoints/fabric/create-conference-room.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/delete-conference-room.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/get-conference-room.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/list-conference-room-addresses.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/list-conference-rooms.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscribers-sip-endpoints.tag.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscribers-tokens.tag.mdx
  docs/rest/signalwire-rest/endpoints/fabric/update-conference-room.api.mdx
Labels: area/rest-api

#181 Fix Typesense error during development
  config/typesense.ts
Labels: area/general

#203 Add Prime Documentation Handoff Ticket Template
  .github/ISSUE_TEMPLATE/prime_documentation_handoff.md
Labels: area/general

#188 Remove (Old) CXML Applications - 13601
  api/signalwire-rest/fabric-api/_spec_.yaml
  api/signalwire-rest/fabric-api/cxml-application-addresses/main.tsp
  api/signalwire-rest/fabric-api/cxml-application-addresses/models/core.tsp
  api/signalwire-rest/fabric-api/cxml-application-addresses/models/enums.tsp
  api/signalwire-rest/fabric-api/cxml-application-addresses/models/responses.tsp
  api/signalwire-rest/fabric-api/cxml-application/main.tsp
  api/signalwire-rest/fabric-api/cxml-application/models/core.tsp
  api/signalwire-rest/fabric-api/cxml-application/models/enums.tsp
  api/signalwire-rest/fabric-api/cxml-application/models/errors.tsp
  api/signalwire-rest/fabric-api/cxml-application/models/requests.tsp
  api/signalwire-rest/fabric-api/cxml-application/models/responses.tsp
  api/signalwire-rest/fabric-api/main.tsp
  api/signalwire-rest/fabric-api/tsp-output/@typespec/openapi3/openapi.yaml
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/067af2d-NewBin.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/2b10195-Screenshot_1.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/363f15d-SWBinSave.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/3cb24b1-InsertURL.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/41e3320-SWBins.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/5772bfb-ClickNumber.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/a0e2d2f-Settings.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/b1d4f0b-MessageSettings.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/bb61154-project_side_menu.webP
  docs/compatibility-api/guides/voice/general/creating-and-using-cxml-scripts/index.mdx
  docs/compatibility-api/guides/voice/general/stopping-streams-with-rest-api/index.mdx
  docs/home/calling/fax/getting-started/first-steps-with-fax/index.mdx
  docs/home/calling/voice/sip/byoc/index.mdx
  docs/home/calling/voice/sip/setup/_legacy-dashboard.mdx
  docs/home/calling/voice/sip/setup/index.mdx
  docs/home/calling/voice/sip/sip-domain-apps/index.mdx
  docs/home/platform/basics/guides/getting-started-without-code/index.mdx
  docs/home/platform/dashboard/phone-numbers/index.mdx
  docs/home/platform/phone-numbers/guides/how-to-configure-your-webhook/index.mdx
  docs/home/tools/swsh/index.mdx
  provisioning/nginx/redirects.map
Labels: area/rest-api, team/developer-experience

#215 Add call widget from npm
  docs/home/overview/homepage.mdx
  package-lock.json
  package.json
  src/components/Sigmond/C2CScriptCDN.tsx
  src/components/Sigmond/C2CWidgetInternal.tsx
Labels: area/general

#225 Update dashboard guides and remove unnecessary screenshots
  docs/home/calling/ai/get-started/index.mdx
  docs/home/platform/dashboard/administration/change-settings/65ebf26-Screen_Shot_2022-01-13_at_4.22.00_PM.webP
  docs/home/platform/dashboard/administration/change-settings/f0b1b09-Screen_Shot_2022-01-13_at_4.20.58_PM.webP
  docs/home/platform/dashboard/administration/change-settings/index.mdx
  docs/home/platform/dashboard/administration/close-account/index.mdx
  docs/home/platform/dashboard/administration/create-account/index.mdx
  docs/home/platform/dashboard/administration/how-to-enable-international-outbound-dialing-sms/2d26616-Dropdown.webP
  docs/home/platform/dashboard/administration/how-to-enable-international-outbound-dialing-sms/79f28ec-TopRight.webP
  docs/home/platform/dashboard/administration/how-to-enable-international-outbound-dialing-sms/cdc1dd7-Geographic_Perms.webP
  docs/home/platform/dashboard/administration/how-to-enable-international-outbound-dialing-sms/index.mdx
  docs/home/platform/dashboard/administration/users/6152c37-blurred_users.webP
  docs/home/platform/dashboard/administration/users/index.mdx
  docs/home/platform/dashboard/billing/common-errors/2433281-Screen_Shot_2022-01-13_at_4.26.52_PM.webP
  docs/home/platform/dashboard/billing/common-errors/2b6e3c7-Screen_Shot_2022-01-13_at_4.30.09_PM.webP
  docs/home/platform/dashboard/billing/common-errors/7a8f62e-Screen_Shot_2022-01-13_at_4.27.06_PM.webP
  docs/home/platform/dashboard/billing/common-errors/index.mdx
  docs/home/platform/dashboard/logs/export_button.webp
  docs/home/platform/dashboard/logs/filter_view.webp
  docs/home/platform/dashboard/logs/index.mdx
  docs/home/platform/dashboard/logs/log_navigation.webp
  docs/home/platform/dashboard/logs/log_view.webp
  images/dashboard/left-menu/menu.png
  images/dashboard/left-menu/menu.webp
Labels: area/documentation

#148 Add SIP endpoints documentation
  api/signalwire-rest/fabric-api/_spec_.yaml
  api/signalwire-rest/fabric-api/main.tsp
  api/signalwire-rest/fabric-api/sip_gateways/main.tsp
  api/signalwire-rest/fabric-api/sip_gateways/models/core.tsp
  api/signalwire-rest/fabric-api/sip_gateways/models/errors.tsp
  api/signalwire-rest/fabric-api/sip_gateways/models/requests.tsp
  api/signalwire-rest/fabric-api/sip_gateways/models/responses.tsp
  api/signalwire-rest/fabric-api/tsp-output/@typespec/openapi3/openapi.yaml
Labels: area/rest-api
