Repository signalwire/docs, pull requests merged in 2025-03, with the labels that each got.

#107 Fix the `Card` component to use the Docusaurus `Link` component
  src/components/Blog/ReleaseCard/index.tsx
  src/components/Extras/Card/Card.tsx
  src/pages/internal/extras/Card.mdx
Labels: area/general

#128 Add script to allow people to easily modify spec files.
  package-lock.json
  package.json
  scripts/update-server-urls.ts
  tsconfig.json
Labels: area/general

#121 Add Relay Recordings endpoints documentation
  api/signalwire-rest/space-api/_spec_.yaml
  docs/rest/signalwire-rest/endpoints/space/recordings-delete.api.mdx
  docs/rest/signalwire-rest/endpoints/space/recordings-get.api.mdx
  docs/rest/signalwire-rest/endpoints/space/recordings-list.api.mdx
  docs/rest/signalwire-rest/endpoints/space/recordings.tag.mdx
  docs/rest/signalwire-rest/endpoints/space/sidebar.ts
Labels: area/rest-api, team/developer-experience

#112 Organize subscribers endpoints
  api/signalwire-rest/fabric-api/_spec_.yaml
  api/signalwire-rest/fabric-api/subscriber-guest-token/main.tsp
  api/signalwire-rest/fabric-api/subscriber-invite-token/main.tsp
  api/signalwire-rest/fabric-api/subscribers/models/requests.tsp
  api/signalwire-rest/fabric-api/subscribers/subscriber-sip-endpoint/main.tsp
  api/signalwire-rest/fabric-api/subscribers/subscriber-tokens/main.tsp
  api/signalwire-rest/fabric-api/tsp-output/@typespec/openapi3/openapi.yaml
  docs/rest/signalwire-rest/endpoints/fabric/guest-tokens-create.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/invite-tokens-create.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/sidebar.ts
  docs/rest/signalwire-rest/endpoints/fabric/subscriber-sip-endpoint-create.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscriber-sip-endpoint-delete.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscriber-sip-endpoint-list.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscriber-sip-endpoint-read.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscriber-sip-endpoint-update.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscribers-create.api.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscribers-sip-endpoints.tag.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscribers-tokens.tag.mdx
  docs/rest/signalwire-rest/endpoints/fabric/subscribers-update.api.mdx
  provisioning/nginx/redirects.map
Labels: area/rest-api

#139 push rest api auth fix
  package-lock.json
  package.json
  plugins/docusaurus-plugin-showcase/package.json
  plugins/docusaurus-plugin-showcase/src/pages/showcase/_components/ShowcaseTableOfContentsDisplay/index.tsx
  src/theme/ApiExplorer/Authorization/index.tsx
Labels: area/docusaurus
